body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
	text-align: center;
	font-family: 'Crimson Text', serif;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

